
<div class="row mt-5 mb-3" *ngIf="list">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
          <div class="container">
              <div class="" *ngFor="let s of sugerencias">
                <div class="border-1"> 
                    <div class="row">
                      <div class="col-12">
                          Comentario: {{s.comentario_egresado}} <br>
                          fecha: {{s.fecha_creacion}} <br>
                          tipo: {{s.tipo_comentario}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-8" style="margin: auto; text-align: center;">
                          <button type="button" class="btn btn-warning align-content-start"  *ngIf="list.rol == 1 || list.user_ID == s.user_creador" data-toggle="modal" data-target="#comentario" (click)="detalles(s.id)" style="float: left;">
                              Actualizar</button>
                              <button type="button" class="btn btn-success ml-2" (click)="detalles(s.id); generar(s.id);" data-toggle="modal" data-target="#responder"  *ngIf="list.rol == 1 || list.user_ID == s.user_creador" style="margin: auto;float: none;    text-align: center;"> Responder</button>
                            <button type="button" class="btn btn-danger ml-2" (click)="delete(s.id)"  *ngIf="list.rol == 1 || list.user_ID == s.user_creador" style="float: right ;"> Eliminar</button>
                      </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="comentario">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Agregar un comentario</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <form [formGroup]="sugerenciaForm" (ngSubmit)="save()" id="FO">
            <div class="row">
                <div class="col-lg-2 col-2 col-md-2 col-sm-2 col-xl-2">Comentario:</div> <br>
                <div class="col-lg-5 col-5 col-md-5 col-sm-5 col-xl-5">
                        <textarea cols="300" rows="5"  formControlName="comentario_egresado" required id="comentario_egresado" name="comentario_egresado" class="form-control">
                          </textarea>
                        <div [hidden]="sugerenciaForm.get('comentario_egresado').valid || 
                        sugerenciaForm.get('comentario_egresado').pristine" class="alert alert-danger">
                        Comentario es importante
                        </div>
                </div>
                <div class="col-lg-2 col-2 col-md-2 col-sm-2 col-xl-2">TIPO:</div>
                <div class="col-lg-3 col-3 col-md-3 col-sm-3 col-xl-3">
                        <input type="radio" formControlName="tipo_comentario" id="tipo_comentario" name="tipo_comentario" value="Sugerencias" > Sugerencias <br>
                        <input type="radio" formControlName="tipo_comentario" id="tipo_comentario" name="tipo_comentario" value="Reclamos" > Reclamos
                        <div [hidden]="sugerenciaForm.get('tipo_comentario').valid || 
                        sugerenciaForm.get('tipo_comentario').pristine" class="alert alert-danger">
                        Su Tipo de consulta es importante
                        </div>
                </div>
                <input type="date" formControlName="fecha_creacion" id="fecha_creacion" name="fecha_creacion" [hidden]=true> 
            </div>
          </form>
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="!sugerenciaForm.valid" class="form-control alert-success" id="ad" (click)="save()" data-dismiss="modal" >Agregar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="borrar()">Close</button>
    </div>
    
  </div>
</div>
</div>

<div class="modal fade" id="responder">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Agregar un comentario</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
          <form [formGroup]="sugerenciaForm" (ngSubmit)="save()" id="FO">
              <div class="row">
                  <div class="col-lg-2 col-2 col-md-2 col-sm-2 col-xl-2">Comentario:</div> <br>
                  <div class="col-lg-8 col-8 col-md-8 col-sm-8 col-xl-8">
                          <textarea cols="300" rows="5"  formControlName="comentario_respuesta" required id="comentario_respuesta" name="comentario_respuesta" class="form-control">
                            </textarea>
                          <div [hidden]="sugerenciaForm.get('comentario_respuesta').valid || 
                          sugerenciaForm.get('comentario_respuesta').pristine" class="alert alert-danger">
                          Comentario es importante
                          </div>
                  </div>
              </div>
            </form>
      </div>
      <div class="modal-footer">
          <button type="submit" [disabled]="!sugerenciaForm.valid" class="form-control alert-success" id="ad" (click)="save()" data-dismiss="modal" >Agregar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="borrar()">Close</button>
      </div>
      
    </div>
  </div>
  </div>
  