
<div *ngIf="user" class="mt-3">
  <h2 style="text-align: center;">Egresados</h2>
  <div>
    <div class="row mb-2">
        <div class="col-5 m-auto ">
            <button type="submit" class="form-control alert-info" (click)="egresadosList()"> Ver todos los egresados</button>
        </div>
    </div>
    <form [formGroup]="buscador" id="FO" class="mt-3">
      <div class="row">
          <div class="col-lg-2 col-2 col-md-2 col-sm-2 col-xl-2">Codigo:</div>
          <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">
            <input type="text" formControlName="codigo" required id="codigo" name="codigo" class="form-control" maxlength="9">
      </div>
      <div class="col-lg-2 col-2 col-md-2 col-sm-2 col-xl-2">Estado:</div>
          <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">
            <select class="form-control form-control-lg" formControlName="estado" >
                <option [ngValue]="0">Rojo</option>
                <option [ngValue]="1">Amarillo</option>
                <option [ngValue]="2">Verde</option>
              </select>
      </div>
      </div>
      
    </form>
    <div class="row mb-3">
       <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">
          <button type="submit"  class="form-control alert-success" id="ad" (click)="buscar()">Guardar</button>
        </div>
        <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">
        </div>
        <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">
            <button type="submit" class="form-control btn-warning alert-warning" (click)="borrar();">Borrar</button>
        </div>
    </div>
  </div>
  <table class="table table-light">
    <thead class="thead-light">
      <tr>
        <th>#</th>  
        <th>Est.</th>
        <th>Cod.</th>
        <th>Nombre</th>
        <th>Celular</th>
        <th>Fec. Actu</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of egresados; index as i">
        <td>{{i+1}}</td>
        <td *ngIf="e.estado_actualizaciones == 0"> <img src="../../../../../assets/rojo.png" alt="rojo" width="20px" height="20px"></td>
        <td *ngIf="e.estado_actualizaciones == 1"> <img src="../../../../../assets/amarillo.png" alt="amarillo" width="20px" height="20px"></td>
        <td *ngIf="e.estado_actualizaciones == 2"> <img src="../../../../../assets/verde.png" alt="verde" width="20px" height="20px"></td>
        <td>{{e.codigo}}</td>
        <td>{{e.nombre}} {{e.ap_paterno}} {{e.ap_materno}}</td>
        <td>{{e.celular}}</td>
        <td> {{e.fec_actualizacion}}</td>
        <td><a routerLink="/veregresado/{{ e.userid }}" routerLinkActive="active"><i class="fa fa-eye"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>