<h2>Listas de usuarios</h2>
<table class="table table-light">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>nombre</th>
      <th>email</th>
      <th>Valido</th>
      <th>rol</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of usuarios; index as i">
      <td>{{i+1}}</td>
      <td>{{u.nombre}}</td>
      <td>{{u.email}}</td>
      <td>{{u.activo}}</td>
      <td>{{u.rol}}</td>
      <td *ngIf="u.activo == true">
          <i class="fa fa-user-lock" (click)="actu(u.id,u.activo)"></i>
      </td>
      <td *ngIf="u.activo == false ||  u.activo == null">
          <i class="fa fa-user-graduate" (click)="actu(u.id,u.activo)"></i>
      </td>
      <td *ngIf="u.rol == 0">
        <i class="fas fa-level-up-alt" (click)="rol(u.id,u.rol)"></i>
      </td>
      <td *ngIf="u.rol == 1">
          <i class="fas fa-level-down-alt" (click)="rol(u.id,u.rol)"></i>
      </td>
    </tr>
  </tbody>
</table>