

<div class="row">
  <h2 class="m-auto">Empresas</h2>
  <table class="table table-light" >
      <thead class="thead-light">
          <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Telefono</th>
              <th>tipo</th>
              <th>Dirección</th>
              <th>correo</th>       
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody *ngFor="let d of empresas; index as i">
          <tr >
              <td >{{i+1}}</td>
              <td>{{d.nombre}}</td>
              <td>{{d.telefono}}</td>
              <td>{{d.tipo}}</td>
              <td>{{d.direccion}}</td>
              <td>{{d.correo}}</td>
              <td > 
                <div class="row" id="ad">
                    <button type="button" class="btn btn-warning align-content-start" (click)="detalles(d.id)" data-toggle="modal" data-target="#empresas">Actualizar</button>
                    <button type="button" class="btn btn-danger align-content-start" (click)="delete(d.id)">Eliminar</button>
                </div>
            </td>
          </tr>
      </tbody>
  </table>
</div>