<div >
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header" *ngIf="list">
                <img src='http://localhost:8000/uploads/avatars/{{list.avatar}}' alt="img user" style="width: 150px; height: 150px; border-radius: 50%;  display: block;
                margin: auto;">
                <div style="text-align: center;">
                    {{list.ap_paterno}} {{list.ap_materno}} <br>
                    {{list.nombre}}
                </div>
            </div>
            <ul class="list-unstyled components"> 
                <li class="nav-item">
                    <a class="navbar-brand" href="#" *ngIf="loggedIn"  routerLink="/"  routerLinkActive="active" > <i class="fa fa-home"></i>  Home</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#" *ngIf="loggedIn"   routerLink="/profile" routerLinkActive="active">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#" *ngIf="loggedIn"   routerLink="/persona" routerLinkActive="active">Persona</a>
                </li>
                <li class="nav-item">
                        <a class="navbar-brand" href="#" *ngIf="loggedIn"   routerLink="/eventos" routerLinkActive="active">Eventos</a>
                </li>
                <li class="nav-item">
                        <a class="navbar-brand" href="#" *ngIf="loggedIn"   routerLink="/facultades" routerLinkActive="active">Facultades</a>
                </li>
                <li class="nav-item">
                        <a class="navbar-brand" href="#" *ngIf="loggedIn"   routerLink="/egresado" routerLinkActive="active">Egresado</a>
                </li>
                <li class="nav-item">
                        <a class="navbar-brand" href="#" *ngIf="loggedIn"   routerLink="/egresadoform" routerLinkActive="active">EgresadoForm</a>
                </li>
                <li class="nav-item">
                        <a class="navbar-brand" href="#" *ngIf="loggedIn"   routerLink="/sugerencias" routerLinkActive="active">Segurencias</a>
                </li>
                <li class="nav-item">
                        <a class="navbar-brand" href="#" *ngIf="loggedIn"   routerLink="/sugerenciasform" routerLinkActive="active">SugerenciasForm</a>
                </li>
                 <li class="nav-item">
                        <a class="navbar-brand" href="#" *ngIf="loggedIn"   routerLink="/empresas" routerLinkActive="active">Empresas</a>
                </li>
                <li class="nav-item">
                        <a class="navbar-brand" href="#" *ngIf="loggedIn"   routerLink="/empresasform" routerLinkActive="active">EmpresasForm</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#" *ngIf="loggedIn"   (click)="logout($event)" >Logout</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Page</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">page1</a>
                        </li>
                        <li>
                            <a href="#">page2</a>
                        </li>
                        <li>
                            <a href="#">page3</a>
                        </li>
                    </ul> 
                </li>
            </ul>
            
        </nav>
    
    </div>
</div>
