<div *ngIf="egresado">
  <h3 style="text-align: center;">Datos Egresados</h3>
  <div class="row mb-5">
      <div class="col-3"><b>Nombre:</b>  <br> <input type="text" class="form-control" value="{{egresado.nombre}}" disabled> </div>
      <div class="col-3"><b>Paterno: </b> <br> <input type="text" class="form-control" value="{{egresado.ap_paterno}}" disabled></div>
      <div class="col-3"> <b>Materno:</b> <br> <input type="text" class="form-control" value="{{egresado.ap_materno}}" disabled> </div>
      <div class="col-3"> <b>Email: </b><br> <input type="text" class="form-control" value="{{egresado.email}}" disabled> </div>
  </div>
  <div class="row mb-5">
      <div class="col-4"><b>Codigo: </b> <br> <input type="text" class="form-control" value="{{egresado.codigo}}" disabled></div>
      <div class="col-4"><b>Celular:</b>  <br> <input type="text" class="form-control" value="{{egresado.celular}}" disabled> </div>
      <div class="col-4"> <b>Genero:</b> <br> <input type="text" class="form-control" value="{{egresado.sexo}}" disabled> </div>
  </div>
  <div class="row">
      <div class="col-12">
          <h3 style="text-align: center;">Estadia Actual</h3>
      </div>
  </div>
  <div class="row mb-5">
      <div class="col-4"><b>Pais: </b> <br> <input type="text" class="form-control" value="{{egresado.pais}}" disabled></div>
      <div class="col-4"><b>Departamento:</b>  <br> <input type="text" class="form-control" value="{{egresado.departamentos}}" disabled> </div>
      <div class="col-4"> <b>Provincia:</b> <br> <input type="text" class="form-control" value="{{egresado.provincia}}" disabled> </div>
  </div>
  <div class="row ">
      <div class="col-sm-5 m-auto mb-2 " style="text-align: center;">
          <button type="submit" class="form-control btn btn-warning mb-1"  data-toggle="modal" data-target="#egresa" (click)="datos(egresado.id)">
          Actualizar Datos</button>
      </div>
  </div>
  <div class="row ">
      <div class="col-sm-5 m-auto mb-2 " style="text-align: center;">
          <button type="submit" class="form-control btn btn-primary mb-3" style="padding-right: 40px;
          padding-left: 40px;" data-toggle="modal" data-target="#Escuela" (click)="EGRESADOID(egresado.id)">
          Agregar Escuela</button>
      </div>
  </div>

</div>  
<table class="table table-light">
<thead class="thead-light">
  <tr>
    <th>#</th>
    <th>Facultad</th>
    <th>Escuela</th>
    <th>F egreso</th>
    <th>F ingreso</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let eg of egresadosescuelas; index as i">
    <td>{{i+1}}</td>
    <td>{{eg.facultad}}</td>
    <td>{{eg.escuela}}</td>
    <td>{{eg.fecha_egreso}}</td>
    <td>{{eg.fecha_ingreso}}</td>
    <td > 
      <i class="fa fa-times"  (click)="deleteDependiente(d.id)"></i>
    </td>
  </tr>
</tbody>
</table>
<div class="modal fade" id="Escuela">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Escuela Profecional</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="escuelaForm" id="FO">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">Comentario:</div> <br>
                        <div class="col-lg-8 col-8 col-md-8 col-sm-8 col-xl-8">
                                <textarea cols="300" rows="3"  formControlName="descripcion" required id="descripcion" name="descripcion" class="form-control">
                                  </textarea> 
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <br>
                        <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">Fecha de Egreso:</div>
                        <div class="col-lg-8 col-8 col-md-8 col-sm-8 col-xl-8">
                            <input type="date" formControlName="fecha_ingreso" id="fecha_ingreso" name="fecha_ingreso"class="form-control">       
                        </div>
                        <br>
                        <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">Fecha de Egreso:</div>
                        <div class="col-lg-8 col-8 col-md-8 col-sm-8 col-xl-8">

                            <input type="date" formControlName="fecha_egreso" id="fecha_egreso" name="fecha_egreso" class="form-control"> 
                        </div>
                    </div>
                    <br>
                      <div class="row">
                        <div class="col-lg-2 col-2 col-md-2 col-sm-2 col-xl-2">Facultad:</div>
                        <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">
                                <select class="form-control" id="sel1" formControlName="facultad" id="facultad" name="facultad" >
                                        <option *ngFor="let p of facultades" [ngValue]="p.id">{{p.nombre}}</option>
                                </select>
                        </div>
                        <div class="col-lg-2 col-2 col-md-2 col-sm-2 col-xl-2">Escuela:</div>
                        <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">
                                <select class="form-control" id="sel1" size="2" formControlName="escuela_profesiona_id" id="escuela_profesiona_id" name="escuela_profesiona_id" >
                                        <ng-container *ngFor="let d of escuelas">
                                        <option  [ngValue]="d.id" *ngIf="d.facultad_id == escuelaForm.value.facultad">          
                                                {{d.nombre}}               
                                        </option>
                                </ng-container> 
                                </select>
                        </div>
                        </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
          <button type="submit" [disabled]="!escuelaForm.valid" class="form-control alert-success" (click)="save()" id="ad"  data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" >Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="egresa">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Formulario Egresados</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form [formGroup]="egresadoform" id="FO">
            <div class="row">
              <div class="col-lg-2 col-2 col-md-2 col-sm-2 col-xl-2">Codigo:</div>
              <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">
                <input type="text" formControlName="codigo" required id="codigo" name="codigo" class="form-control" maxlength="9" disabled>
                <div [hidden]="egresadoform.get('codigo').valid || 
                egresadoform.get('codigo').pristine" class="alert alert-danger">
                Codigo es importante
                </div>
              </div>
              <div class="col-lg-2 col-2 col-md-2 col-sm-2 col-xl-2">Celular:</div>
              <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">
                <input type="text" formControlName="celular" id="celular" name="celular" class="form-control" maxlength="9">
                <div [hidden]="egresadoform.get('celular').valid || 
                egresadoform.get('celular').pristine" class="alert alert-danger">
                Su Celular es importante
                </div>
              </div>
            </div>
            <br>
            <div class="row">
            <div class="col-lg-2 col-2 col-md-2 col-sm-2 col-xl-2">Pais donde recide:</div>
            <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">
              <select class="form-control" id="sel1" formControlName="pais" id="pais" name="pais" >
                      <option *ngFor="let p of paises" [ngValue]="p.id">{{p.nombre}}</option>
              </select>
              <div [hidden]="egresadoform.get('pais').valid || 
              egresadoform.get('pais').pristine" class="alert alert-danger">
                      Su Pais es importante
              </div>
            </div>
            <div class="col-lg-2 col-2 col-md-2 col-sm-2 col-xl-2">Departamento donde recide:</div>
            <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">
              <select class="form-control" id="sel1" size="2" formControlName="departamento" id="departamento" name="departamento" >
                <ng-container *ngFor="let d of departamentos">
                <option  [ngValue]="d.id" *ngIf="d.pais_id == egresadoform.value.pais">          
                  {{d.nombre}}               
                </option>
              </ng-container> 
              </select>
              <div [hidden]="egresadoform.get('departamento').valid || 
              egresadoform.get('departamento').pristine" class="alert alert-danger">
                Su Departamento es importante
              </div>
            </div>
            </div>
        <br>
            <div class="row">
            <div class="col-lg-2 col-2 col-md-2 col-sm-2 col-xl-2">Provincia donde recide:</div>
            <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">
              <select class="form-control" id="sel1" size="2" formControlName="domicilio_actual" id="domicilio_actual" name="domicilio_actual" >
                <ng-container *ngFor="let d of provincias">
                <option  [ngValue]="d.id" *ngIf="d.dep_id == egresadoform.value.departamento">          
                  {{d.nombre}}               
                </option>
              </ng-container> 
              </select>
              <div [hidden]="egresadoform.get('domicilio_actual').valid || 
              egresadoform.get('domicilio_actual').pristine" class="alert alert-danger">
                Su Provincia es importante
              </div>
            </div>
            </div>
            
          </form>
        </div>
  
        <div class="modal-footer">
            <button type="submit" [disabled]="!egresadoform.valid" class="form-control alert-success" id="ad" (click)="save3()" data-dismiss="modal" >Submit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="borrar()">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  