
<div *ngIf="list">
    <div class="container" id="perfil">
      <div class="row mb-5">
        <div class="col-3"><b>Nombre:</b>  <br> <input type="text" class="form-control" value="{{list.nombre}}" disabled> </div>
        <div class="col-3"><b>Paterno: </b> <br> <input type="text" class="form-control" value="{{list.ap_paterno}}" disabled></div>
        <div class="col-3"> <b>Materno:</b> <br> <input type="text" class="form-control" value="{{list.ap_materno}}" disabled> </div>
        <div class="col-3"> <b>Email: </b><br> <input type="text" class="form-control" value="{{list.email}}" disabled> </div>
      </div>
      <div class="row mb-5">
        <div class="col-3"> <b>Genero: </b><br> <input type="text" class="form-control" value="{{list.sexo}} " disabled> </div>
        <div class="col-3" data-toggle="modal" data-target="#Persona" (click)="persona(list.persona_ID);"> <b>Est. Civ.:</b> <br>  <input type="text" class="form-control" value="{{list.est_civil}}" disabled  > </div>
        <div class="col-3"> <b> DNI:</b> <br> <input type="text" class="form-control" value="{{list.dni}}" disabled></div>
        <div class="col-3"> <b>Fech. Nac.:</b> <br> <input type="text" class="form-control" value="{{list.fec_nacimiento}}" disabled></div>
      </div>
       <div class="row mb-5">
         <div class="col-4"> <b>Pais:</b> <br> <input type="text" class="form-control" value="{{list.pais}} " disabled></div>
         <div class="col-4"> <b>Depart.: </b> <br> <input type="text" class="form-control" value="{{list.departamentos}} " disabled></div>
         <div class="col-4"> <b>Provin.:</b> <br><input type="text" class="form-control" value="{{list.provincia}} " disabled> </div>
       </div>
    </div>  
    <hr>
    <div *ngIf="list.activo == false">
      <button data-toggle="modal" data-target="#Egresados"> AGREGAR</button>
    </div>
    <div class="row ">
      <div class="m-auto">
          <h2>
              <a routerLink="/personadependiente/{{list.persona_ID}}" routerLinkActive="active" id="ga">
                  <button class="button-red" class="form-control alert-success"id="ad" >Agregar</button>
              </a>
          </h2>
      </div>
    </div>
    <hr>
    <table class="table table-light" >
      <thead class="thead-light">
          <tr>
              <th>#</th>
              <th>Apellidos y Nombres</th>
              <th>Genero</th>       
              <th></th>
          </tr>
      </thead>
      <tbody *ngFor="let d of dependientes; index as i ">
          <tr>
              <td>{{i+1}}</td>
              <td> {{d.ap_paterno}} {{d.ap_materno}} {{d.nombre}}</td>
              <td>{{d.sexo}}</td>
              <td > 
                <i class="fa fa-times"  (click)="deleteDependiente(d.id)"></i>
              </td>
          </tr>
      </tbody>
  </table>
  <app-egresadoform [ID]="list.persona_ID"></app-egresadoform>
  </div>
  
  
  <div class="modal fade" id="Persona">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Actualizar el E.C</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form [formGroup]="personaForm" id="FO">
            <div >
                <div class="row"> 
                <div class="col-lg-2 col-2 col-md-2 col-sm-2 col-xl-2">Estado civil:</div>
                <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">
                        <select class="form-control" id="sel1" formControlName="est_civil" id="est_civil" name="est_civil">
                                <option value="Soltero">Soltero</option>
                                <option value="Casado">Casado</option>
                                <option value="Divorciado">Divorciado</option>
                                <option value="Viudo">Viudo</option>
                        </select>
                        <div [hidden]="personaForm.get('est_civil').valid || 
                        personaForm.get('est_civil').pristine" class="alert alert-danger">
                                Su Estado Civil es importante
                        </div>
                </div>
                <br>
                <div class="row">
                        
                        <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">
                        </div>
                        <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">
                        
                </div>
                <div class="col-lg-4 col-4 col-md-4 col-sm-4 col-xl-4">
                </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <button type="submit" [disabled]="!personaForm.valid" class="form-control alert-success" (click)="save()" id="ad"  data-dismiss="modal">Submit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" >Close</button>
        </div>
      </div>
    </div>
  </div>